/* 
*
*   Stylesheet for portfolio website
*   login: xblaze38
*
*/


/** General properties **/
html{
    font-family: "sans-serif";
    scroll-behavior: smooth;
}
p{
    font-size: 16px;
    line-height: 1.5;
}
h2{
    margin-top: 0px;
    font-size: 2rem;
}
h3{
    font-size: 1.2rem;
}
a{
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
}
a:hover{
    color: red;
    text-decoration: underline;
    text-underline-offset: 4px;
}
section, footer{
    padding-top: 100px;
}

/** Specific properties **/
body{
    margin: 0 10px;
    min-width: 736px; /*? Why it's 736px instead of calc(768px - (2 * 10px)) */
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    margin-left: -10px;
    width: 100%;
    min-width: 768px;
    z-index: 99;
    background-color: darkgray;
}
#logo{
    font-size: 30px;
    display: block;
    flex: 1 1 20%;
    padding: 20px 20px;
}
#logo a:hover{
    text-decoration: none;
    color: black;
}
#navigation{
    font-size: large;
    flex: 1 1 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    width: fit-content;
}
#navigation > li{
    display: block;
    list-style: none;
    padding: 30px 20px;
}
#header{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}
#header .name{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: right;
    transition: all 0.5s ease;
}
#header .surname{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    transition: all 0.5s ease;
}
#header p{
    display: inline;
    font-size: 110px;
    line-height: 1;
    transition: all 0.25s ease;
}
#header div:hover{
    transform: scale(1.2);
}
#header .M:hover{
    color: red;
}
#header .I:hover{
    color: green;
}
#header .C:hover{
    color: blue;
}
#header .H:hover{
    color: yellow;
}
#header .A:hover{
    color: magenta;
}
#header .L:hover{
    color: cyan;
}
#header .BB:hover{
    color: red;
}
#header .LL:hover{
    color: green;
}
#header .AA:hover{
    color: blue;
}
#header .ZZ:hover{
    color: yellow;
}
#header .EE:hover{
    color: magenta;
}
#header .KK:hover{
    color: cyan;
}